:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
}

html * {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #ffffff;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-transform: uppercase;

    color: #ffffff;
}