.card {
    width: 407px;
    height: 644px;
    
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 37.78px 6.59px 27.42px 33.58px;
    border-radius: 50px;

    overflow: hidden;

    background-color: var(--bg-card);
}

.card header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 19.44px;
}

.card header .logo-container {
    width: 55.42px;
    height: 54.44px;
    
    border: 1px solid var(--text);
    border-radius: 50%;
}

.card header .logo {
    width: 30.14px;
    height: 36.94px;
    margin: 9.72px 12.64px 7.78px 12.64px;
}

.card .avatar {
    width: 372px;
    height: 370.23px;

    position: absolute;
    top: 134px;
    left: 89px;
    z-index: 1;

    border: 10px solid var(--img-profile);
    border-radius: 50%;
}

.card .profile-data {
    width: 195.5px;
    height: 194.7px;

    position: absolute;
    top: 352.82px;
    left: 21.13px;
    z-index: 2;

    border-radius: 50px;

    background: linear-gradient(180deg, #000000 3.65%, rgba(70, 69, 69, 0.72) 53.65%, rgba(62, 56, 56, 0.42) 100%);
}

.card footer {
    margin-top: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10.89px;
}

.card footer .logo {
    width: 28px;
    height: 34.32px;
}