.card-container {
    width: 438px;
    height: 693px;

    padding: 24px 15px 25px 16px;
    border-radius: 50px;

    background-color: var(--bg);
}

.card {
    width: 407px;
    height: 644px;

    border-radius: 50px;

    background-color: var(--bg-card);
}