.card-container {
    width: 438px;
    height: 693px;

    padding: 24px 15px 25px 16px;
    border-radius: 50px;

    background-color: var(--bg);
}

.card {
    width: 407px;
    height: 644px;

    display: flex;
    flex-direction: column;

    padding: 37.78px 6.59px 27.42px 33.58px;
    border-radius: 50px;

    background-color: var(--bg-card);
}

.card header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 19.44px;
}

.card header .logo-container {
    width: 55.42px;
    height: 54.44px;
    
    border: 1px solid var(--text);
    border-radius: 50%;
}

.card header .logo {
    width: 30.14px;
    height: 36.94px;
    margin: 9.72px 12.64px 7.78px 12.64px;
}

.card footer {
    margin-top: auto;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10.89px;
}

.card footer .logo {
    width: 28px;
    height: 34.32px;
}